<?xml version="1.0" encoding="utf-8" ?>
<dataAccessConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="DataAccessSchema.xsd">
  <databaseConfig>
    <providers>Config\providers.config</providers>
    <sqlMapDirectory>SqlMap</sqlMapDirectory>
    <connections>
      <!--dbType:Oracle,SQLServer,MySql-->
      <!--provide:The name of provide in providers.config-->
      <connection name="Default" connectionString="Data Source=bd60;User Id=bigdata_read;Password=bigdata_read" dbType="Oracle" provide="OracleClient"/>
      <!--<connection name="Default" connectionString="Data Source=10.10.141.165,1444;Database=bigdata;User Id=bigdata_admin;Password=bigdata_admin" dbType="SQLServer" provide="SqlServerClient"/>-->
      <!--<connection name="Default" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.30.60.163)(PORT = 1521)))(CONNECT_DATA = (SID = bigdata)));User Id=bigdata_read;Password=bigdata_read" dbType="Oracle" provide="MsOracleClient"/>-->
      <connection name="RwConn" connectionString="Data Source=172.30.60.163/bigdata;User Id=bigdata_bdp;Password=bigdata_bdp" dbType="Oracle" provide="OracleClient"/>
      <connection name="MySqlConn" connectionString="server=10.10.141.164;user id=bigdata_admin;password=bigdata_admin;database=bigdata" dbType="MySql" provide="MySqlClient"/>
      <connection name="sqliteTest" connectionString="Data Source=TestDB.sqlite;Version=3" dbType="MySql" provide="SQLiteClient"/>
    </connections>
  </databaseConfig>

  <mongoDBConfig>
    <connections>
      <connection name="Default" server="172.30.60.161" port="27017" />
      <connection name="Index" server="172.30.60.161" port="27017" database="IDX_ALL" collection="IDX_ALL" />
    </connections>
  </mongoDBConfig>
</dataAccessConfig>