<?xml version="1.0" encoding="utf-8"?>
<ElasticSearchConfig>
  <Clusters>
    <Cluster Name="Prod">
      <!--Thrift OR Http-->
      <TransportType>Thrift</TransportType>
      <HttpNodes>
        <Node Host="172.30.51.248" Port="9200" Enabled="true"  >
        </Node>
      </HttpNodes>
      <ThriftNodes>
        <Node Host="172.30.51.248" Port="9500" Enabled="true" IsFramed="false" >
        </Node>
      </ThriftNodes>
    </Cluster>
  </Clusters>
</ElasticSearchConfig>